{% extends "base.html" %}

{% block content %}

<h1>{{blog_name}}</h1>
<h4>Author: {{author}}<h4>
<h3><a href="/blogRSS?blog_name={{ blog_name }}">RSS</a></h3>
	<br>

	{% if isOwner %}
	<div>
		<h3><a href="/newpost?blog_name={{ blog_name }}">Create a New Post</a></h3>
	</div>
	{% endif %}	
	<br>

	{% for p in posts %}
	{{ p.render_digest() | safe }}
	<a href='/post?post_id={{ p.key().id() }}'>more...</a>
	<br><br>
	{% endfor %}
	
	{% if not isLastPage %}
	<h4><a href="/blog?blog_name={{ blog_name }}&page={{ next_count }}">previous posts</a></h4>
	{% endif %}
	<br>
	{% if isOwner %}
	<div>
		<h3><a href="/profile?author={{ author }}">Return to Profile</a></h3>
	</div>
	{% endif %}

	{% endblock %}
