{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-list">
			{% if isLogin %}
			<li class="active"><a href="/profile?author={{ isLogin }}"><h4>My Blogs</h4></a></li>
			<li class="active"><a href="/album?author={{ isLogin }}"><h4>My Album</h4></a></li>
			{% else %}
			<li class="active"><a href="{{ url|safe }}"><h3>Create your blogs</h3></a></li>			
			{% endif %}
			<li class="nav-header"><h3>Blog List</h3></li>
			{% for b in blogs %}
			<li>
				<a href="/blog?blog_name={{ b.blog_name }}&page=1">{{ b.blog_name }}</a> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by {{ b.author }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-6">
		<h3>Latest Posts</h3>
		<br>
		{% for p in posts %}
		{{ p.render_digest() | safe }}
		<a href='/post?post_id={{ p.key().id() }}'>more...</a>
		<br><br>
		{% endfor %}
	</div>
	{% if tags_set %}
	<div class="col-md-3">
		<h3>Tag List:</h3>
		<ul>
			{% for t in tags_set %}
			<li><a href="/tagpost?tag={{ t }}">{{ t }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>

{% endblock %}
